<div class="about">
    <div class="about__container container">
        <div class="about__left">
            <h1 class="about__title">История производства</h1>
            <p class="about__text">
                Компания «33 дивана» занимается разработкой и изготовлением мягкой мебели с 1995 года. За это время накопленный опыт позволил фабрике отлично зарекомендовать себя на рынке благодаря богатому ассортименту, разнообразию моделей и комфортности, которыми отличается мягкая мебель от «33 диванов».
                <br><br>
                Специалистами фабрики разработана элегантная, оригинальная и эргономичная мягкая мебель, которая не только украшает жилое пространство, но и оптимизирует его. Диваны оснащены механизмами трансформации и пружинными блоками, обеспечивающими удобные места для отдыха. Благодаря широкому ассортименту тканей и материалов для обивки наша мягкая мебель идеально подходит для любой обстановки. Если вам понравилась та или иная модель, вы можете подобрать подходящий вариант отделки.
            </p>
        </div>
        <div class="about__right">
            <img src="img/lookbook.jpg" class="about__img">
            <p class="about__text">
                Наше собственное конструкторское бюро ведет постоянные разработки в области проектирования новых моделей
                <br><br>
                Мягкая мебель фабрики «33 дивана» создаст атмосферу уюта и комфорта в вашем доме!
            </p>
        </div>
    </div>
</div>