<div class="advantages">
    <div class="advantages__container container">
        <h2 class="advantages__title">Почему тысячи Россиян выбирают 33 Дивана?</h2>
        <div class="advantages__cards">
            <div class="advantages__card advantages-card">
                <div class="advantages-card__img-wrapper">
                    <img src="img/advantages/advantages1.jpg" class="advantages-card__img-shadow">
                    <img src="img/advantages/advantages1.jpg" class="advantages-card__img">
                </div>
                <h3 class="advantages-card__title">Ортопедическая основа</h3>
                <span class="advantages-card__text">Лишь представители современных социальных резервов, вне зависимости от их уровня, должны быть объективно рассмотрены соответствующими инстанциями.</span>
            </div>
            <div class="advantages__card advantages-card">
                <div class="advantages-card__img-wrapper">
                    <img src="img/advantages/advantages2.jpg" class="advantages-card__img-shadow">
                    <img src="img/advantages/advantages2.jpg" class="advantages-card__img">
                </div>
                <h3 class="advantages-card__title">Современный дизайн</h3>
                <span class="advantages-card__text">Лишь представители современных социальных резервов, вне зависимости от их уровня, должны быть объективно рассмотрены соответствующими инстанциями.</span>
            </div>
            <div class="advantages__card advantages-card">
                <div class="advantages-card__img-wrapper">
                    <img src="img/advantages/advantages3.jpg" class="advantages-card__img-shadow">
                    <img src="img/advantages/advantages3.jpg" class="advantages-card__img">
                </div>
                <h3 class="advantages-card__title">Немецкое качество</h3>
                <span class="advantages-card__text">Лишь представители современных социальных резервов, вне зависимости от их уровня, должны быть объективно рассмотрены соответствующими инстанциями.</span>
            </div>
        </div>
    </div>
</div>