<div class="blog">
    <div class="blog__container container">
        <div class="blog__cards">
            <div class="swiper blog__swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                  <!-- Slides -->
                    <div class="swiper-slide">
                        <div class="blog__card blog-card">
                            <img src="img/blog/blog1.jpg" class="blog-card__img">
                            <span class="blog-card__date">12 октября 2022</span>
                            <h3 class="blog-card__title">Как правильно чистить новый диван</h3>
                            <a href="#" class="blog-card__link">Открыть</a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="blog__card blog-card">
                            <img src="img/blog/blog2.jpg" class="blog-card__img">
                            <span class="blog-card__date">12 октября 2022</span>
                            <h3 class="blog-card__title">Топ 6 ошибок в выборе дивана</h3>
                            <a href="#" class="blog-card__link">Открыть</a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="blog__card blog-card">
                            <img src="img/blog/blog3.jpg" class="blog-card__img">
                            <span class="blog-card__date">12 октября 2022</span>
                            <h3 class="blog-card__title">Почему нельзя экономить на диване?</h3>
                            <a href="#" class="blog-card__link">Открыть</a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="blog__card blog-card">
                            <img src="img/blog/blog4.jpg" class="blog-card__img">
                            <span class="blog-card__date">12 октября 2022</span>
                            <h3 class="blog-card__title">Тренды в дизайне интерьера 2022.<br>7 приемов</h3>
                            <a href="#" class="blog-card__link">Открыть</a>
                        </div>
                    </div>
                </div>
              
                <!-- If we need scrollbar -->
                <div class="swiper-scrollbar"></div>
            </div>
            
        </div>
    </div>
</div>