<div class="catalog-similar">
    <div class="catalog-similar__container container">
        <h3 class="catalog-similar__title">Похожее:</h3>
        <div class="catalog-similar__cards">
            <div class="catalog-similar__card catalog-card">
                <div class="catalog-card__header">
                    <span class="catalog-card__tag">Диваны</span>
                    <div class="catalog-card__color"></div>
                </div>
                <div class="catalog-card__img-wrapper">
                    <img src="img/products/product1.png" class="catalog-card__img-shadow">
                    <img src="img/products/product1.png" class="catalog-card__img">
                </div>
                <a class="catalog-card__info">
                    <h3 class="catalog-card__title">Дортмунд</h3>
                    <div class="catalog-card__right">
                        <span class="catalog-card__price">76 990 ₽</span>
                        <div class="catalog-card__button-wrapper">
                            <img src="img/icons/arrow-white.svg" class="catalog-card__button">
                        </div>
                    </div>
                </a>
            </div>
            <div class="catalog-similar__card catalog-card">
                <div class="catalog-card__header">
                    <span class="catalog-card__tag">Диваны</span>
                    <div class="catalog-card__color"></div>
                </div>
                <div class="catalog-card__img-wrapper">
                    <img src="img/products/product2.png" class="catalog-card__img-shadow">
                    <img src="img/products/product2.png" class="catalog-card__img">
                </div>
                <a class="catalog-card__info">
                    <h3 class="catalog-card__title">Дортмунд</h3>
                    <div class="catalog-card__right">
                        <span class="catalog-card__price">76 990 ₽</span>
                        <div class="catalog-card__button-wrapper">
                            <img src="img/icons/arrow-white.svg" class="catalog-card__button">
                        </div>
                    </div>
                </a>
            </div>
            <div class="catalog-similar__card catalog-card">
                <div class="catalog-card__header">
                    <span class="catalog-card__tag">Диваны</span>
                    <div class="catalog-card__color"></div>
                </div>
                <div class="catalog-card__img-wrapper">
                    <img src="img/products/product3.png" class="catalog-card__img-shadow">
                    <img src="img/products/product3.png" class="catalog-card__img">
                </div>
                <a class="catalog-card__info">
                    <h3 class="catalog-card__title">Дортмунд</h3>
                    <div class="catalog-card__right">
                        <span class="catalog-card__price">76 990 ₽</span>
                        <div class="catalog-card__button-wrapper">
                            <img src="img/icons/arrow-white.svg" class="catalog-card__button">
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>