<div class="catalog-full">
    <div class="catalog-full__container container">
        <div class="catalog-full__header">
            <div class="catalog-full__breadcrumbs breadcrumbs">
                <a href="#" class="breadcrumbs__link">Каталог</a>
                <span class="breadcrumbs__separator">-</span>
                <a href="#" class="breadcrumbs__link">Диваны</a>
                <span class="breadcrumbs__separator">-</span>
                <a href="#" class="breadcrumbs__link">Прямые диваны</a>
                <span class="breadcrumbs__separator">-</span>
                <a href="#" class="breadcrumbs__link breadcrumbs__link_active">Дортмунд</a>
            </div>
            <div class="catalog-full__header-right">
                <div class="catalog-full__filters filters">
                    <div class="filters__icon-wrapper">
                        <img class="filters__icon" src="img/icons/filter.svg">
                        <span>Открыть фильтры</span>
                    </div>
                    
                    <form action="#" class="filters__form">
                        <div class="filters__filter">
                            <label class="filters__filter-label">
                                <input type="checkbox" class="filters__filter-checkbox">
                                <span class="filters__filter-text">В наличии в магазине</span>
                                
                            </label>
                            <label class="filters__filter-label">
                                <input type="checkbox" class="filters__filter-checkbox">
                                <span class="filters__filter-text">В наличии онлайн</span>
                                
                            </label>
                        </div>
                        <div class="filters__filter">
                            <label class="filters__filter-label">
                                <input type="radio" name="radio" class="filters__filter-radio">
                                <span class="filters__filter-text">В наличии</span>
                                
                            </label>
                            <label class="filters__filter-label">
                                <input type="radio" name="radio" class="filters__filter-radio">
                                <span class="filters__filter-text">Все товары</span>
                               
                            </label>
                        </div>
                        <div class="filters__filter">
                            <span class="filters__filter-title">Цена</span>
                            <input type="text" id="range-input" class="filters__filter-range">
                            <div class="filters__filter-range-inputs-wrapper">
                                <label class="filters__filter-label filters__filter-label_inline">
                                    <span class="filters__filter-text">От</span>
                                    <input type="text" id="range-from" class="filters__filter-range-text range-from" value="0">
                                    <span class="filters__filter-text">₽</span>
                                </label>
                                <label class="filters__filter-label filters__filter-label_inline">
                                    <span class="filters__filter-text">До</span>
                                    <input type="text" id="range-to" class="filters__filter-range-text range-to" value="0">
                                    <span class="filters__filter-text">₽</span>
                                </label>
                            </div>
                        </div>
                        <input type="submit" class="filters__apply" value="Применить фильтр">
                        <input type="submit" class="filters__cancel" value="Сбросить">
                    </form>
                </div>
                <!--<form action="" class="catalog-full__search search">
                    <input type="text" class="search__input">
                    <button class="search__button"><img class="search__icon" src="img/icons/search.svg"></button>
                </form>-->
            </div>
        </div>
        
        <div class="catalog-full__cards">
            <a href="#" class="catalog-card__link">
                <div class="catalog-full__card catalog-card catalog-card_full">
                    <div class="catalog-card__header">
                        <span class="catalog-card__tag">Диваны</span>
                        <div class="catalog-card__color"></div>
                    </div>
                    <div class="catalog-card__img-wrapper">
                        <img src="img/blog/blog1.jpg" class="catalog-card__img-shadow">
                        <img src="img/blog/blog1.jpg" class="catalog-card__img">
                    </div>
                    <div  class="catalog-card__info">
                        <h3 class="catalog-card__title">Дортмунд YTUYFT757685 lite</h3>
                        <div class="catalog-card__right">
                            <span class="catalog-card__price">76 990 ₽</span>
                            <div class="catalog-card__button-wrapper">
                                <img src="img/icons/arrow-white.svg" class="catalog-card__button">
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <div class="catalog-full__card catalog-card">
                <div class="catalog-card__header">
                    <span class="catalog-card__tag">Диваны</span>
                    <div class="catalog-card__color"></div>
                </div>
                <div class="catalog-card__img-wrapper">
                    <img src="img/products/product2.png" class="catalog-card__img-shadow">
                    <img src="img/products/product2.png" class="catalog-card__img">
                </div>
                <a class="catalog-card__info">
                    <h3 class="catalog-card__title">Дортмунд</h3>
                    <div class="catalog-card__right">
                        <span class="catalog-card__price">76 990 ₽</span>
                        <div class="catalog-card__button-wrapper">
                            <img src="img/icons/arrow-white.svg" class="catalog-card__button">
                        </div>
                    </div>
                </a>
            </div>
            <div class="catalog-full__card catalog-card">
                <div class="catalog-card__header">
                    <span class="catalog-card__tag">Диваны</span>
                    <div class="catalog-card__color"></div>
                </div>
                <div class="catalog-card__img-wrapper">
                    <img src="img/products/product3.png" class="catalog-card__img-shadow">
                    <img src="img/products/product3.png" class="catalog-card__img">
                </div>
                <a class="catalog-card__info">
                    <h3 class="catalog-card__title">Дортмунд</h3>
                    <div class="catalog-card__right">
                        <span class="catalog-card__price">76 990 ₽</span>
                        <div class="catalog-card__button-wrapper">
                            <img src="img/icons/arrow-white.svg" class="catalog-card__button">
                        </div>
                    </div>
                </a>
            </div>
            <div class="catalog-full__card catalog-card">
                <div class="catalog-card__header">
                    <span class="catalog-card__tag">Диваны</span>
                    <div class="catalog-card__color"></div>
                </div>
                <div class="catalog-card__img-wrapper">
                    <img src="img/products/product3.png" class="catalog-card__img-shadow">
                    <img src="img/products/product3.png" class="catalog-card__img">
                </div>
                <a class="catalog-card__info">
                    <h3 class="catalog-card__title">Дортмунд</h3>
                    <div class="catalog-card__right">
                        <span class="catalog-card__price">76 990 ₽</span>
                        <div class="catalog-card__button-wrapper">
                            <img src="img/icons/arrow-white.svg" class="catalog-card__button">
                        </div>
                    </div>
                </a>
            </div>
            <div class="catalog-full__card catalog-card">
                <div class="catalog-card__header">
                    <span class="catalog-card__tag">Диваны</span>
                    <div class="catalog-card__color"></div>
                </div>
                <div class="catalog-card__img-wrapper">
                    <img src="img/products/product4.png" class="catalog-card__img-shadow">
                    <img src="img/products/product4.png" class="catalog-card__img">
                </div>
                <a class="catalog-card__info">
                    <h3 class="catalog-card__title">Дортмунд</h3>
                    <div class="catalog-card__right">
                        <span class="catalog-card__price">76 990 ₽</span>
                        <div class="catalog-card__button-wrapper">
                            <img src="img/icons/arrow-white.svg" class="catalog-card__button">
                        </div>
                    </div>
                </a>
            </div>
            <div class="catalog-full__card catalog-card">
                <div class="catalog-card__header">
                    <span class="catalog-card__tag">Диваны</span>
                    <div class="catalog-card__color"></div>
                </div>
                <div class="catalog-card__img-wrapper">
                    <img src="img/products/product5.png" class="catalog-card__img-shadow">
                    <img src="img/products/product5.png" class="catalog-card__img">
                </div>
                <a class="catalog-card__info">
                    <h3 class="catalog-card__title">Дортмунд</h3>
                    <div class="catalog-card__right">
                        <span class="catalog-card__price">76 990 ₽</span>
                        <div class="catalog-card__button-wrapper">
                            <img src="img/icons/arrow-white.svg" class="catalog-card__button">
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="catalog-full__pagination pagination">
            <a class="pagination__prev" href=""></a>
            <a href="#" class="pagination__link">1</a>
            <a href="#" class="pagination__link">2</a>
            <a href="#" class="pagination__link">3</a>
            <a href="#" class="pagination__link">4</a>
            <a href="#" class="pagination__link">5</a>
            <a class="pagination__next" href=""></a>
        </div>
    </div>
</div>