<div class="categories">
    <div class="categories__container container">
        <div class="categories__cards">
            <a href="#" class="categories-card__link">
                <div class="categories__card categories-card">
                    <img class="categories-card__img" src="img/icons/category1.svg">
                    <h2 class="categories-card__title">Прямые диваны</h2>
                </div>
            </a>
            <a href="#" class="categories-card__link">
                <div class="categories__card categories-card">
                    <img class="categories-card__img" src="img/icons/category2.svg">
                    <h2 class="categories-card__title">Офисные диваны</h2>
                </div>
            </a>
            <a href="#" class="categories-card__link">
                <div class="categories__card categories-card">
                    <img class="categories-card__img" src="img/icons/category3.svg">
                    <h2 class="categories-card__title">Модульные диваны</h2>
                </div>
            </a>
            <a href="#" class="categories-card__link">
                <div class="categories__card categories-card">
                    <img class="categories-card__img" src="img/icons/category4.svg">
                    <h2 class="categories-card__title">Угловые диваны</h2>
                </div>
            </a>
            <a href="#" class="categories-card__link">
                <div class="categories__card categories-card">
                    <img class="categories-card__img" src="img/icons/category5.svg">
                    <h2 class="categories-card__title">Кресла</h2>
                </div>
            </a>
        </div>
    </div>
</div>