<div class="catalog">
    <div class="catalog__container container">
        <div class="catalog__swiper swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="catalog__cards">
                        <div class="catalog__card catalog-card">
                            <div class="catalog-card__header">
                                <span class="catalog-card__tag">Диваны</span>
                                <div class="catalog-card__color"></div>
                            </div>
                            <div class="catalog-card__img-wrapper">
                                <img src="img/products/product1.png" class="catalog-card__img-shadow">
                                <img src="img/products/product1.png" class="catalog-card__img">
                            </div>
                            <a class="catalog-card__info">
                                <h3 class="catalog-card__title">Дортмунд</h3>
                                <div class="catalog-card__right">
                                    <span class="catalog-card__price">76 990 ₽</span>
                                    <div class="catalog-card__button-wrapper">
                                        <img src="img/icons/arrow-white.svg" class="catalog-card__button">
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="catalog__card catalog-card">
                            <div class="catalog-card__header">
                                <span class="catalog-card__tag">Диваны</span>
                                <div class="catalog-card__color"></div>
                            </div>
                            <div class="catalog-card__img-wrapper">
                                <img src="img/products/product2.png" class="catalog-card__img-shadow">
                                <img src="img/products/product2.png" class="catalog-card__img">
                            </div>
                            <a class="catalog-card__info">
                                <h3 class="catalog-card__title">Дортмунд</h3>
                                <div class="catalog-card__right">
                                    <span class="catalog-card__price">76 990 ₽</span>
                                    <div class="catalog-card__button-wrapper">
                                        <img src="img/icons/arrow-white.svg" class="catalog-card__button">
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="catalog__card catalog-card">
                            <div class="catalog-card__header">
                                <span class="catalog-card__tag">Диваны</span>
                                <div class="catalog-card__color"></div>
                            </div>
                            <div class="catalog-card__img-wrapper">
                                <img src="img/products/product3.png" class="catalog-card__img-shadow">
                                <img src="img/products/product3.png" class="catalog-card__img">
                            </div>
                            <a class="catalog-card__info">
                                <h3 class="catalog-card__title">Дортмунд</h3>
                                <div class="catalog-card__right">
                                    <span class="catalog-card__price">76 990 ₽</span>
                                    <div class="catalog-card__button-wrapper">
                                        <img src="img/icons/arrow-white.svg" class="catalog-card__button">
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="catalog__card catalog-card">
                            <div class="catalog-card__header">
                                <span class="catalog-card__tag">Диваны</span>
                                <div class="catalog-card__color"></div>
                            </div>
                            <div class="catalog-card__img-wrapper">
                                <img src="img/products/product3.png" class="catalog-card__img-shadow">
                                <img src="img/products/product3.png" class="catalog-card__img">
                            </div>
                            <a class="catalog-card__info">
                                <h3 class="catalog-card__title">Дортмунд</h3>
                                <div class="catalog-card__right">
                                    <span class="catalog-card__price">76 990 ₽</span>
                                    <div class="catalog-card__button-wrapper">
                                        <img src="img/icons/arrow-white.svg" class="catalog-card__button">
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="catalog__card catalog-card">
                            <div class="catalog-card__header">
                                <span class="catalog-card__tag">Диваны</span>
                                <div class="catalog-card__color"></div>
                            </div>
                            <div class="catalog-card__img-wrapper">
                                <img src="img/products/product4.png" class="catalog-card__img-shadow">
                                <img src="img/products/product4.png" class="catalog-card__img">
                            </div>
                            <a class="catalog-card__info">
                                <h3 class="catalog-card__title">Дортмунд</h3>
                                <div class="catalog-card__right">
                                    <span class="catalog-card__price">76 990 ₽</span>
                                    <div class="catalog-card__button-wrapper">
                                        <img src="img/icons/arrow-white.svg" class="catalog-card__button">
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="catalog__card catalog-card">
                            <div class="catalog-card__header">
                                <span class="catalog-card__tag">Диваны</span>
                                <div class="catalog-card__color"></div>
                            </div>
                            <div class="catalog-card__img-wrapper">
                                <img src="img/products/product5.png" class="catalog-card__img-shadow">
                                <img src="img/products/product5.png" class="catalog-card__img">
                            </div>
                            <a class="catalog-card__info">
                                <h3 class="catalog-card__title">Дортмунд</h3>
                                <div class="catalog-card__right">
                                    <span class="catalog-card__price">76 990 ₽</span>
                                    <div class="catalog-card__button-wrapper">
                                        <img src="img/icons/arrow-white.svg" class="catalog-card__button">
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="catalog__cards">
                        <div class="catalog__card catalog-card">
                            <div class="catalog-card__header">
                                <span class="catalog-card__tag">Диваны</span>
                                <div class="catalog-card__color"></div>
                            </div>
                            <div class="catalog-card__img-wrapper">
                                <img src="img/products/product1.png" class="catalog-card__img-shadow">
                                <img src="img/products/product1.png" class="catalog-card__img">
                            </div>
                            <a class="catalog-card__info">
                                <h3 class="catalog-card__title">Дортмунд</h3>
                                <div class="catalog-card__right">
                                    <span class="catalog-card__price">76 990 ₽</span>
                                    <div class="catalog-card__button-wrapper">
                                        <img src="img/icons/arrow-white.svg" class="catalog-card__button">
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="catalog__card catalog-card">
                            <div class="catalog-card__header">
                                <span class="catalog-card__tag">Диваны</span>
                                <div class="catalog-card__color"></div>
                            </div>
                            <div class="catalog-card__img-wrapper">
                                <img src="img/products/product2.png" class="catalog-card__img-shadow">
                                <img src="img/products/product2.png" class="catalog-card__img">
                            </div>
                            <a class="catalog-card__info">
                                <h3 class="catalog-card__title">Дортмунд</h3>
                                <div class="catalog-card__right">
                                    <span class="catalog-card__price">76 990 ₽</span>
                                    <div class="catalog-card__button-wrapper">
                                        <img src="img/icons/arrow-white.svg" class="catalog-card__button">
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="catalog__card catalog-card">
                            <div class="catalog-card__header">
                                <span class="catalog-card__tag">Диваны</span>
                                <div class="catalog-card__color"></div>
                            </div>
                            <div class="catalog-card__img-wrapper">
                                <img src="img/products/product3.png" class="catalog-card__img-shadow">
                                <img src="img/products/product3.png" class="catalog-card__img">
                            </div>
                            <a class="catalog-card__info">
                                <h3 class="catalog-card__title">Дортмунд</h3>
                                <div class="catalog-card__right">
                                    <span class="catalog-card__price">76 990 ₽</span>
                                    <div class="catalog-card__button-wrapper">
                                        <img src="img/icons/arrow-white.svg" class="catalog-card__button">
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="catalog__card catalog-card">
                            <div class="catalog-card__header">
                                <span class="catalog-card__tag">Диваны</span>
                                <div class="catalog-card__color"></div>
                            </div>
                            <div class="catalog-card__img-wrapper">
                                <img src="img/products/product3.png" class="catalog-card__img-shadow">
                                <img src="img/products/product3.png" class="catalog-card__img">
                            </div>
                            <a class="catalog-card__info">
                                <h3 class="catalog-card__title">Дортмунд</h3>
                                <div class="catalog-card__right">
                                    <span class="catalog-card__price">76 990 ₽</span>
                                    <div class="catalog-card__button-wrapper">
                                        <img src="img/icons/arrow-white.svg" class="catalog-card__button">
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="catalog__card catalog-card">
                            <div class="catalog-card__header">
                                <span class="catalog-card__tag">Диваны</span>
                                <div class="catalog-card__color"></div>
                            </div>
                            <div class="catalog-card__img-wrapper">
                                <img src="img/products/product4.png" class="catalog-card__img-shadow">
                                <img src="img/products/product4.png" class="catalog-card__img">
                            </div>
                            <a class="catalog-card__info">
                                <h3 class="catalog-card__title">Дортмунд</h3>
                                <div class="catalog-card__right">
                                    <span class="catalog-card__price">76 990 ₽</span>
                                    <div class="catalog-card__button-wrapper">
                                        <img src="img/icons/arrow-white.svg" class="catalog-card__button">
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="catalog__card catalog-card">
                            <div class="catalog-card__header">
                                <span class="catalog-card__tag">Диваны</span>
                                <div class="catalog-card__color"></div>
                            </div>
                            <div class="catalog-card__img-wrapper">
                                <img src="img/products/product5.png" class="catalog-card__img-shadow">
                                <img src="img/products/product5.png" class="catalog-card__img">
                            </div>
                            <a class="catalog-card__info">
                                <h3 class="catalog-card__title">Дортмунд</h3>
                                <div class="catalog-card__right">
                                    <span class="catalog-card__price">76 990 ₽</span>
                                    <div class="catalog-card__button-wrapper">
                                        <img src="img/icons/arrow-white.svg" class="catalog-card__button">
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="catalog__cards">
                        <div class="catalog__card catalog-card">
                            <div class="catalog-card__header">
                                <span class="catalog-card__tag">Диваны</span>
                                <div class="catalog-card__color"></div>
                            </div>
                            <div class="catalog-card__img-wrapper">
                                <img src="img/products/product1.png" class="catalog-card__img-shadow">
                                <img src="img/products/product1.png" class="catalog-card__img">
                            </div>
                            <a class="catalog-card__info">
                                <h3 class="catalog-card__title">Дортмунд</h3>
                                <div class="catalog-card__right">
                                    <span class="catalog-card__price">76 990 ₽</span>
                                    <div class="catalog-card__button-wrapper">
                                        <img src="img/icons/arrow-white.svg" class="catalog-card__button">
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="catalog__card catalog-card">
                            <div class="catalog-card__header">
                                <span class="catalog-card__tag">Диваны</span>
                                <div class="catalog-card__color"></div>
                            </div>
                            <div class="catalog-card__img-wrapper">
                                <img src="img/products/product2.png" class="catalog-card__img-shadow">
                                <img src="img/products/product2.png" class="catalog-card__img">
                            </div>
                            <a class="catalog-card__info">
                                <h3 class="catalog-card__title">Дортмунд</h3>
                                <div class="catalog-card__right">
                                    <span class="catalog-card__price">76 990 ₽</span>
                                    <div class="catalog-card__button-wrapper">
                                        <img src="img/icons/arrow-white.svg" class="catalog-card__button">
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="catalog__card catalog-card">
                            <div class="catalog-card__header">
                                <span class="catalog-card__tag">Диваны</span>
                                <div class="catalog-card__color"></div>
                            </div>
                            <div class="catalog-card__img-wrapper">
                                <img src="img/products/product3.png" class="catalog-card__img-shadow">
                                <img src="img/products/product3.png" class="catalog-card__img">
                            </div>
                            <a class="catalog-card__info">
                                <h3 class="catalog-card__title">Дортмунд</h3>
                                <div class="catalog-card__right">
                                    <span class="catalog-card__price">76 990 ₽</span>
                                    <div class="catalog-card__button-wrapper">
                                        <img src="img/icons/arrow-white.svg" class="catalog-card__button">
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="catalog__card catalog-card">
                            <div class="catalog-card__header">
                                <span class="catalog-card__tag">Диваны</span>
                                <div class="catalog-card__color"></div>
                            </div>
                            <div class="catalog-card__img-wrapper">
                                <img src="img/products/product3.png" class="catalog-card__img-shadow">
                                <img src="img/products/product3.png" class="catalog-card__img">
                            </div>
                            <a class="catalog-card__info">
                                <h3 class="catalog-card__title">Дортмунд</h3>
                                <div class="catalog-card__right">
                                    <span class="catalog-card__price">76 990 ₽</span>
                                    <div class="catalog-card__button-wrapper">
                                        <img src="img/icons/arrow-white.svg" class="catalog-card__button">
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="catalog__card catalog-card">
                            <div class="catalog-card__header">
                                <span class="catalog-card__tag">Диваны</span>
                                <div class="catalog-card__color"></div>
                            </div>
                            <div class="catalog-card__img-wrapper">
                                <img src="img/products/product4.png" class="catalog-card__img-shadow">
                                <img src="img/products/product4.png" class="catalog-card__img">
                            </div>
                            <a class="catalog-card__info">
                                <h3 class="catalog-card__title">Дортмунд</h3>
                                <div class="catalog-card__right">
                                    <span class="catalog-card__price">76 990 ₽</span>
                                    <div class="catalog-card__button-wrapper">
                                        <img src="img/icons/arrow-white.svg" class="catalog-card__button">
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="catalog__card catalog-card">
                            <div class="catalog-card__header">
                                <span class="catalog-card__tag">Диваны</span>
                                <div class="catalog-card__color"></div>
                            </div>
                            <div class="catalog-card__img-wrapper">
                                <img src="img/products/product5.png" class="catalog-card__img-shadow">
                                <img src="img/products/product5.png" class="catalog-card__img">
                            </div>
                            <a class="catalog-card__info">
                                <h3 class="catalog-card__title">Дортмунд</h3>
                                <div class="catalog-card__right">
                                    <span class="catalog-card__price">76 990 ₽</span>
                                    <div class="catalog-card__button-wrapper">
                                        <img src="img/icons/arrow-white.svg" class="catalog-card__button">
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="catalog__cards">
                        <div class="catalog__card catalog-card">
                            <div class="catalog-card__header">
                                <span class="catalog-card__tag">Диваны</span>
                                <div class="catalog-card__color"></div>
                            </div>
                            <div class="catalog-card__img-wrapper">
                                <img src="img/products/product1.png" class="catalog-card__img-shadow">
                                <img src="img/products/product1.png" class="catalog-card__img">
                            </div>
                            <a class="catalog-card__info">
                                <h3 class="catalog-card__title">Дортмунд</h3>
                                <div class="catalog-card__right">
                                    <span class="catalog-card__price">76 990 ₽</span>
                                    <div class="catalog-card__button-wrapper">
                                        <img src="img/icons/arrow-white.svg" class="catalog-card__button">
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="catalog__card catalog-card">
                            <div class="catalog-card__header">
                                <span class="catalog-card__tag">Диваны</span>
                                <div class="catalog-card__color"></div>
                            </div>
                            <div class="catalog-card__img-wrapper">
                                <img src="img/products/product2.png" class="catalog-card__img-shadow">
                                <img src="img/products/product2.png" class="catalog-card__img">
                            </div>
                            <a class="catalog-card__info">
                                <h3 class="catalog-card__title">Дортмунд</h3>
                                <div class="catalog-card__right">
                                    <span class="catalog-card__price">76 990 ₽</span>
                                    <div class="catalog-card__button-wrapper">
                                        <img src="img/icons/arrow-white.svg" class="catalog-card__button">
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="catalog__card catalog-card">
                            <div class="catalog-card__header">
                                <span class="catalog-card__tag">Диваны</span>
                                <div class="catalog-card__color"></div>
                            </div>
                            <div class="catalog-card__img-wrapper">
                                <img src="img/products/product3.png" class="catalog-card__img-shadow">
                                <img src="img/products/product3.png" class="catalog-card__img">
                            </div>
                            <a class="catalog-card__info">
                                <h3 class="catalog-card__title">Дортмунд</h3>
                                <div class="catalog-card__right">
                                    <span class="catalog-card__price">76 990 ₽</span>
                                    <div class="catalog-card__button-wrapper">
                                        <img src="img/icons/arrow-white.svg" class="catalog-card__button">
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="catalog__card catalog-card">
                            <div class="catalog-card__header">
                                <span class="catalog-card__tag">Диваны</span>
                                <div class="catalog-card__color"></div>
                            </div>
                            <div class="catalog-card__img-wrapper">
                                <img src="img/products/product3.png" class="catalog-card__img-shadow">
                                <img src="img/products/product3.png" class="catalog-card__img">
                            </div>
                            <a class="catalog-card__info">
                                <h3 class="catalog-card__title">Дортмунд</h3>
                                <div class="catalog-card__right">
                                    <span class="catalog-card__price">76 990 ₽</span>
                                    <div class="catalog-card__button-wrapper">
                                        <img src="img/icons/arrow-white.svg" class="catalog-card__button">
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="catalog__card catalog-card">
                            <div class="catalog-card__header">
                                <span class="catalog-card__tag">Диваны</span>
                                <div class="catalog-card__color"></div>
                            </div>
                            <div class="catalog-card__img-wrapper">
                                <img src="img/products/product4.png" class="catalog-card__img-shadow">
                                <img src="img/products/product4.png" class="catalog-card__img">
                            </div>
                            <a class="catalog-card__info">
                                <h3 class="catalog-card__title">Дортмунд</h3>
                                <div class="catalog-card__right">
                                    <span class="catalog-card__price">76 990 ₽</span>
                                    <div class="catalog-card__button-wrapper">
                                        <img src="img/icons/arrow-white.svg" class="catalog-card__button">
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="catalog__card catalog-card">
                            <div class="catalog-card__header">
                                <span class="catalog-card__tag">Диваны</span>
                                <div class="catalog-card__color"></div>
                            </div>
                            <div class="catalog-card__img-wrapper">
                                <img src="img/products/product5.png" class="catalog-card__img-shadow">
                                <img src="img/products/product5.png" class="catalog-card__img">
                            </div>
                            <a class="catalog-card__info">
                                <h3 class="catalog-card__title">Дортмунд</h3>
                                <div class="catalog-card__right">
                                    <span class="catalog-card__price">76 990 ₽</span>
                                    <div class="catalog-card__button-wrapper">
                                        <img src="img/icons/arrow-white.svg" class="catalog-card__button">
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="catalog__cards">
                        <div class="catalog__card catalog-card">
                            <div class="catalog-card__header">
                                <span class="catalog-card__tag">Диваны</span>
                                <div class="catalog-card__color"></div>
                            </div>
                            <div class="catalog-card__img-wrapper">
                                <img src="img/products/product1.png" class="catalog-card__img-shadow">
                                <img src="img/products/product1.png" class="catalog-card__img">
                            </div>
                            <a class="catalog-card__info">
                                <h3 class="catalog-card__title">Дортмунд</h3>
                                <div class="catalog-card__right">
                                    <span class="catalog-card__price">76 990 ₽</span>
                                    <div class="catalog-card__button-wrapper">
                                        <img src="img/icons/arrow-white.svg" class="catalog-card__button">
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="catalog__card catalog-card">
                            <div class="catalog-card__header">
                                <span class="catalog-card__tag">Диваны</span>
                                <div class="catalog-card__color"></div>
                            </div>
                            <div class="catalog-card__img-wrapper">
                                <img src="img/products/product2.png" class="catalog-card__img-shadow">
                                <img src="img/products/product2.png" class="catalog-card__img">
                            </div>
                            <a class="catalog-card__info">
                                <h3 class="catalog-card__title">Дортмунд</h3>
                                <div class="catalog-card__right">
                                    <span class="catalog-card__price">76 990 ₽</span>
                                    <div class="catalog-card__button-wrapper">
                                        <img src="img/icons/arrow-white.svg" class="catalog-card__button">
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="catalog__card catalog-card">
                            <div class="catalog-card__header">
                                <span class="catalog-card__tag">Диваны</span>
                                <div class="catalog-card__color"></div>
                            </div>
                            <div class="catalog-card__img-wrapper">
                                <img src="img/products/product3.png" class="catalog-card__img-shadow">
                                <img src="img/products/product3.png" class="catalog-card__img">
                            </div>
                            <a class="catalog-card__info">
                                <h3 class="catalog-card__title">Дортмунд</h3>
                                <div class="catalog-card__right">
                                    <span class="catalog-card__price">76 990 ₽</span>
                                    <div class="catalog-card__button-wrapper">
                                        <img src="img/icons/arrow-white.svg" class="catalog-card__button">
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="catalog__card catalog-card">
                            <div class="catalog-card__header">
                                <span class="catalog-card__tag">Диваны</span>
                                <div class="catalog-card__color"></div>
                            </div>
                            <div class="catalog-card__img-wrapper">
                                <img src="img/products/product3.png" class="catalog-card__img-shadow">
                                <img src="img/products/product3.png" class="catalog-card__img">
                            </div>
                            <a class="catalog-card__info">
                                <h3 class="catalog-card__title">Дортмунд</h3>
                                <div class="catalog-card__right">
                                    <span class="catalog-card__price">76 990 ₽</span>
                                    <div class="catalog-card__button-wrapper">
                                        <img src="img/icons/arrow-white.svg" class="catalog-card__button">
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="catalog__card catalog-card">
                            <div class="catalog-card__header">
                                <span class="catalog-card__tag">Диваны</span>
                                <div class="catalog-card__color"></div>
                            </div>
                            <div class="catalog-card__img-wrapper">
                                <img src="img/products/product4.png" class="catalog-card__img-shadow">
                                <img src="img/products/product4.png" class="catalog-card__img">
                            </div>
                            <a class="catalog-card__info">
                                <h3 class="catalog-card__title">Дортмунд</h3>
                                <div class="catalog-card__right">
                                    <span class="catalog-card__price">76 990 ₽</span>
                                    <div class="catalog-card__button-wrapper">
                                        <img src="img/icons/arrow-white.svg" class="catalog-card__button">
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="catalog__card catalog-card">
                            <div class="catalog-card__header">
                                <span class="catalog-card__tag">Диваны</span>
                                <div class="catalog-card__color"></div>
                            </div>
                            <div class="catalog-card__img-wrapper">
                                <img src="img/products/product5.png" class="catalog-card__img-shadow">
                                <img src="img/products/product5.png" class="catalog-card__img">
                            </div>
                            <a class="catalog-card__info">
                                <h3 class="catalog-card__title">Дортмунд</h3>
                                <div class="catalog-card__right">
                                    <span class="catalog-card__price">76 990 ₽</span>
                                    <div class="catalog-card__button-wrapper">
                                        <img src="img/icons/arrow-white.svg" class="catalog-card__button">
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="catalog__cards">
                        <div class="catalog__card catalog-card">
                            <div class="catalog-card__header">
                                <span class="catalog-card__tag">Диваны</span>
                                <div class="catalog-card__color"></div>
                            </div>
                            <div class="catalog-card__img-wrapper">
                                <img src="img/products/product1.png" class="catalog-card__img-shadow">
                                <img src="img/products/product1.png" class="catalog-card__img">
                            </div>
                            <a class="catalog-card__info">
                                <h3 class="catalog-card__title">Дортмунд</h3>
                                <div class="catalog-card__right">
                                    <span class="catalog-card__price">76 990 ₽</span>
                                    <div class="catalog-card__button-wrapper">
                                        <img src="img/icons/arrow-white.svg" class="catalog-card__button">
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="catalog__card catalog-card">
                            <div class="catalog-card__header">
                                <span class="catalog-card__tag">Диваны</span>
                                <div class="catalog-card__color"></div>
                            </div>
                            <div class="catalog-card__img-wrapper">
                                <img src="img/products/product2.png" class="catalog-card__img-shadow">
                                <img src="img/products/product2.png" class="catalog-card__img">
                            </div>
                            <a class="catalog-card__info">
                                <h3 class="catalog-card__title">Дортмунд</h3>
                                <div class="catalog-card__right">
                                    <span class="catalog-card__price">76 990 ₽</span>
                                    <div class="catalog-card__button-wrapper">
                                        <img src="img/icons/arrow-white.svg" class="catalog-card__button">
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="catalog__card catalog-card">
                            <div class="catalog-card__header">
                                <span class="catalog-card__tag">Диваны</span>
                                <div class="catalog-card__color"></div>
                            </div>
                            <div class="catalog-card__img-wrapper">
                                <img src="img/products/product3.png" class="catalog-card__img-shadow">
                                <img src="img/products/product3.png" class="catalog-card__img">
                            </div>
                            <a class="catalog-card__info">
                                <h3 class="catalog-card__title">Дортмунд</h3>
                                <div class="catalog-card__right">
                                    <span class="catalog-card__price">76 990 ₽</span>
                                    <div class="catalog-card__button-wrapper">
                                        <img src="img/icons/arrow-white.svg" class="catalog-card__button">
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="catalog__card catalog-card">
                            <div class="catalog-card__header">
                                <span class="catalog-card__tag">Диваны</span>
                                <div class="catalog-card__color"></div>
                            </div>
                            <div class="catalog-card__img-wrapper">
                                <img src="img/products/product3.png" class="catalog-card__img-shadow">
                                <img src="img/products/product3.png" class="catalog-card__img">
                            </div>
                            <a class="catalog-card__info">
                                <h3 class="catalog-card__title">Дортмунд</h3>
                                <div class="catalog-card__right">
                                    <span class="catalog-card__price">76 990 ₽</span>
                                    <div class="catalog-card__button-wrapper">
                                        <img src="img/icons/arrow-white.svg" class="catalog-card__button">
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="catalog__card catalog-card">
                            <div class="catalog-card__header">
                                <span class="catalog-card__tag">Диваны</span>
                                <div class="catalog-card__color"></div>
                            </div>
                            <div class="catalog-card__img-wrapper">
                                <img src="img/products/product4.png" class="catalog-card__img-shadow">
                                <img src="img/products/product4.png" class="catalog-card__img">
                            </div>
                            <a class="catalog-card__info">
                                <h3 class="catalog-card__title">Дортмунд</h3>
                                <div class="catalog-card__right">
                                    <span class="catalog-card__price">76 990 ₽</span>
                                    <div class="catalog-card__button-wrapper">
                                        <img src="img/icons/arrow-white.svg" class="catalog-card__button">
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="catalog__card catalog-card">
                            <div class="catalog-card__header">
                                <span class="catalog-card__tag">Диваны</span>
                                <div class="catalog-card__color"></div>
                            </div>
                            <div class="catalog-card__img-wrapper">
                                <img src="img/products/product5.png" class="catalog-card__img-shadow">
                                <img src="img/products/product5.png" class="catalog-card__img">
                            </div>
                            <a class="catalog-card__info">
                                <h3 class="catalog-card__title">Дортмунд</h3>
                                <div class="catalog-card__right">
                                    <span class="catalog-card__price">76 990 ₽</span>
                                    <div class="catalog-card__button-wrapper">
                                        <img src="img/icons/arrow-white.svg" class="catalog-card__button">
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="catalog__swiper-button catalog__swiper-button_next swiper-button-next"></div>
        <div class="catalog__swiper-button catalog__swiper-button_prev swiper-button-prev"></div>
        <a href="#" class="catalog__more-link"><button class="catalog__more-button">Загрузить ещё</button></a>
    </div>
</div>