<div class="contacts">
    <div class="contacts__container container">
        <div class="contacts__left">
            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A26c96c34ff020a2ed623c2e93b79467b045c1e39a0dfa19c37e85f7b3e3e1045&amp;width=100%25&amp;height=419&amp;lang=ru_RU&amp;scroll=true"></script>
        </div>
        <div class="contacts__right">
            <p class="contacts__text">
                ТК "Калейдоскоп на Маркса"<br>
                г. Новосибирск, площадь Карла Маркса, 6/1<br><br>

                2 этаж<br><br>

                Режим работы:<br><br>

                Пн. - Пт.: 10:00 - 21:00<br>
                Сб. - Вс.: 10:00 - 21:00<br><br>

                Телефон:<br><br>

                <a href="tel:89050959633">8-905-095-96-33</a><br><br>

                Email:<br><br>

                <a href="mailto:i33divana@yandex.ru">i33divana@yandex.ru</a>
            </p>
        </div>
    </div>
</div>