<footer class="footer">
    <div class="footer__container container">
        <h2 class="footer__title">33дивана</h2>
        <span class="footer__text">Я выбираю мебель для всей семьи</span>
        <div class="footer__columns">
            <div class="footer__column">
                <h3 class="footer__column-title">Категории</h2>
                <ul class="footer__categories">
                    <li class="footer__elem"><a href="#" class="footer__link">Диваны</a></li>
                    <li class="footer__elem"><a href="#" class="footer__link">Диваны</a></li>
                    <li class="footer__elem"><a href="#" class="footer__link">Диваны</a></li>
                    <li class="footer__elem"><a href="#" class="footer__link">Диваны</a></li>
                    <li class="footer__elem"><a href="#" class="footer__link">Диваны</a></li>
                    <li class="footer__elem"><a href="#" class="footer__link">Диваны</a></li>
                    <li class="footer__elem"><a href="#" class="footer__link">Диваны</a></li>
                    <li class="footer__elem"><a href="#" class="footer__link">Диваны</a></li>
                </ul>
            </div>
            <div class="footer__column">
                <h3 class="footer__column-title">Статьи</h2>
                    <ul class="footer__blog">
                        <li class="footer__elem"><a href="#" class="footer__link">Как правильно чистить новый диван</a></li>
                        <li class="footer__elem"><a href="#" class="footer__link">Топ 6 ошибок в выборе дивана</a></li>
                        <li class="footer__elem"><a href="#" class="footer__link">Почему нельзя экономить на диване?</a></li>
                        <li class="footer__elem"><a href="#" class="footer__link">Тренды в дизайне интерьера 2022. 7 приемов</a></li>
                    </ul>
            </div>
            <div class="footer__column">
                <h3 class="footer__column-title">Контакты</h2>
                <ul class="footer__contacts">
                    <li class="footer__elem"><a href="#" class="footer__link">(383) 279-87-17</a></li>
                    <li class="footer__elem"><a href="#" class="footer__link">г. Новосибирск, ул. Промкирпичная, 22</a></li>
                    <li class="footer__elem"><a href="#" class="footer__link">YouTube</a></li>
                </ul>
            </div>
        </div>
        <div class="footer__rights">
            <span class="footer__rights-text">2022. Все права защищены</span>
            <span class="footer__rights-text">Условия обработки данных</span>
        </div>
    </div>
</footer>
