<div class="forclients">
    <div class="forclients__container container">
        <h1 class="forclients title">Как покупать в Интернет Магазине?</h1>
        <p class="forclients__text">Вы можете заказать изготовление мягкой мебели через интернет-магазин в любое удобное для вас время простым нажатием кнопки «Купить», после этого приступайте к оформлению заказа в «Корзине».</p>
        <h2>Доставка</h2>
        <p class="forclients__text">
            Вы можете забрать диван самостоятельно с производства, а можете оформить доставку. Отдаленные районы и подъем на этаж рассчитываются по отдельному прейскуранту.
            <br>
            Также вы можете заказать доставку в любой другой город, в таком случае доставка до транспортной компании осуществляется нами бесплатно. Оплата доставки транспортной компании осуществляется вами самостоятельно. Наши менеджеры помогут вам подобрать подходящую для вас транспортную компанию.
            <br>
            После оформления заказа, с вами свяжется менеджер и согласует с вами срок изготовления, дату и время доставки товара.
            <br>
        </p>
        <h2>Оплата</h2>
        <p class="forclients__text">В процессе оформления заказа, вам представится возможность выбрать один из наиболее удобных вам способов оплаты. Оплатить изготовление мебели вы можете:
            <ul>
                <li>Через отделения Сбербанка (распечатав квитанцию)</li>
                <li>Безналичный расчет (через Интернет банк)</li>
                <li>Наличными в мебельных салонах</li>
                <li>Банковскими карточками Visa и MasterCard (система Robokassa)</li>
                <li>Электронными деньгами (система Robokassa)</li>
            </ul>
        </p>
    </div>
</div>
