<header class="header">
    <div class="header__container container">
        <div class="header__left">
            <div class="header__burger-button"></div>
            <nav class="header__menu header-menu">
                <ul class="header-menu__list">
                    <a href="/about.html" class="header-menu__link"><li class="header-menu__elem">
                        <span class="header-menu__text">О фабрике</span>
                    </li></a>
                    <a href="/forclients.html" class="header-menu__link"><li class="header-menu__elem">
                        <span class="header-menu__text header-menu__text_with-arrow">Для покупателей</span>
                        <ul class="header-menu__list header-menu__list_inner">
                            <a href="/forclients.html" class="header-menu__link"><li class="header-menu__elem">Как покупать в Интернет Магазине?</li></a>
                            <a href="/forclients.html" class="header-menu__link"><li class="header-menu__elem">Доставка, сборка и приемка мебели</li></a>
                            <a href="/forclients.html" class="header-menu__link"><li class="header-menu__elem">Правила эксплуатации мягкой мебели</li></a>
                        </ul>
                    </li></a>
                    <a href="/blog.html" class="header-menu__link"><li class="header-menu__elem">Новости</li></a>
                    <a href="/forclients.html" class="header-menu__link"><li class="header-menu__elem">Контакты</li></a>
                </ul>
            </nav>
            <a href="/" class="header__logo-wrapper"><img src="img/logo.svg" class="header__logo"></a>
        </div>
        <div class="header__right">
            <a class="header__link"><img src="img/icons/vk.svg" class="header__icon"></a>
            <a class="header__link"><img src="img/icons/youtube.svg" class="header__icon"></a>
            <a class="header__link"><button class="header__cart-button"></button></a>
        </div>
    </div>
</header>
