<div class="hero">
    <div class="hero__container container">
        <div class="hero__left">
            <h1 class="hero__title">Мебельная Фабрика <br><span class="hero__accent-text">33 Дивана</span></h1>
            <div class="hero__description">Производство мягкой мебели в Новосибирске. Отправляем по всей России.</div>
            <div class="hero__form">
                <div class="hero__select hero-select">
                    
                    <ul class="hero-select__list">
                        <a href="#" class="hero-select__link"><li class="hero-select__elem">Кресла</li></a>
                        <a href="#" class="hero-select__link"><li class="hero-select__elem">Офисные</li></a>
                        <a href="#" class="hero-select__link"><li class="hero-select__elem">Угловые</li></a>
                        <a href="#" class="hero-select__link"><li class="hero-select__elem">Модульные</li></a>
                    </ul>
                    <div class="hero-select__button-wrapper">
                        <span class="hero-select__title">Диваны</span>
                        <img src="img/icons/chevron.svg" class="hero-select__icon">
                    </div>
                </div>
                <button class="hero__button">Каталог<div class="hero__arrow-wrapper"><img src="img/icons/arrow.svg" class="hero__arrow"></div></button>
            </div>
        </div>
        <div class="hero__right">
            <div class="hero__lookbook lookbook">
                <div class="lookbook__img-wrapper">
                    <img src="img/lookbook.jpg" class="lookbook__img-shadow">
                    <img src="img/lookbook.jpg" class="lookbook__img">
                </div>
                <div class="lookbook__pointer">
                    <div class="lookbook__catalog-card catalog-card">
                        <div class="catalog-card__header">
                            <span class="catalog-card__tag">Диваны</span>
                            <div class="catalog-card__color"></div>
                        </div>
                        <div class="catalog-card__img-wrapper">
                            <img src="img/products/product5.png" class="catalog-card__img-shadow">
                            <img src="img/products/product5.png" class="catalog-card__img">
                        </div>
                        <a class="catalog-card__info">
                            <h3 class="catalog-card__title">Дортмунд</h3>
                            <div class="catalog-card__right">
                                <span class="catalog-card__price">76 990 ₽</span>
                                <div class="catalog-card__button-wrapper">
                                    <img src="img/icons/arrow-white.svg" class="catalog-card__button">
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>