<div class="history">
    <div class="history__container container">
        <div class="history__left">
            <h2 class="history__title">История Производства</h2> 
            <p class="history__text">«Формула дивана» входит в состав мебельного холдинга MZ5 group. Нас знают и выбирают множество семей по всей России и ближнему зарубежью.<br><br>Сертификат качества GOLDEN M — это знак отличия, выдаваемый немецкой ассоциацией производителей мебели, что является гарантией долговечности, безупречного функционирования мебели и ее экологичности.<br><br>Цена мягкой мебели (диванов, кресел) полностью окупается ее комфортом и долговечностью. Срок службы нашей мебели — более 10 лет.</p>
        </div>
        <div class="history__right">
            <div class="history__lookbook lookbook">
                <div class="lookbook__img-wrapper">
                    <img src="img/lookbook.jpg" class="lookbook__img-shadow">
                    <img src="img/lookbook.jpg" class="lookbook__img">
                </div>
                <div class="lookbook__pointer">
                    <div class="lookbook__catalog-card catalog-card catalog-card_adaptive">
                        <div class="catalog-card__header">
                            <span class="catalog-card__tag">Диваны</span>
                            <div class="catalog-card__color"></div>
                        </div>
                        <div class="catalog-card__img-wrapper">
                            <img src="img/products/product5.png" class="catalog-card__img-shadow">
                            <img src="img/products/product5.png" class="catalog-card__img">
                        </div>
                        <a class="catalog-card__info">
                            <h3 class="catalog-card__title">Дортмунд</h3>
                            <div class="catalog-card__right">
                                <span class="catalog-card__price">76 990 ₽</span>
                                <div class="catalog-card__button-wrapper">
                                    <img src="img/icons/arrow-white.svg" class="catalog-card__button">
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>